.regform {
  display: grid;
  grid-template-columns: auto minmax(200px,650px) auto;
  padding: 10px;
}

.form-control{
  border-radius: 0px !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  -webkit-box-shadow: none !important;
}
.form{
  padding: 20px;
}
label {
  margin-bottom: 0px !important;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /* bring your own prefixes */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.textalign{
  text-align:center;
}

.btnwidth{
  width:150px;
}

.marginTop{
  margin-top: 30px;
}
